<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Making your first Phaser 3 Game - Part 10</title>
  <script src="/phaser/phaser.min.js"></script>
  <link rel="stylesheet" src="/css/style.css">
</head>

<body>

  
<script src="/js/game.js"></script>
</body>

</html>